

.homepage{
    height: 800px; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.box{
    background-color:#FFF;
    padding-top:160px;
    padding-bottom:50px;
}

.homepage_search{
    margin-left:45px;
    margin-top:40px
}

.homepage_title{
    text-align:center;
    color: rgba(0,0,0,.55);
 
}

.homepage_subtitle{
    text-align:center;
    margin-top:40px;
    color: rgba(0,0,0,.55);
    
 
}

.homepage_emphasis{
    color:#80471C
}

.chores{
    margin-top:350px;
    text-align:center;
   
}