

.homepage{
    /* background-image: url("../images/homepagebg.jpeg"); */
    height: 800px; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.box{
    background-color:#FFF;
    /* margin-left:550px;
    margin-right:350px; */
    /* margin-top:150px; */
  
    padding-top:160px;
    padding-bottom:50px;
    /* padding-left:50px;
    padding-right:50px; */
   
    /* position:absolute */
 
}

.homepage_search{
    margin-left:45px;
    margin-top:40px
}

.homepage_title{
    text-align:center;
    color: rgba(0,0,0,.55);
 
}

.homepage_subtitle{
    text-align:center;
    margin-top:40px;
    color: rgba(0,0,0,.55);
    
 
}

.homepage_emphasis{
    color:#80471C
}

.chores{
    margin-top:350px;
    text-align:center;
   
}