.stepthreetitle{
    text-align:center;
    color: #000;
    padding-top:60px;
    padding-bottom:40px
}

.box{
    margin-top:35px;
    border:1px solid #ced4da;
    padding:40px;
    border-radius:5px

}

.price{
    float:right;
    font-weight:bolder;
    color:#568203
}

.image{
    border-radius:50%;
    height:150px;
    width:150px
}

